<!DOCTYPE html>
<div id = 'body'>
<html>
<head>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "application.js" %>
  <%= stylesheet_link_tag "main.css" %>
</head>
<body>
<div id = 'header'>
Welcome to Sample Twit
</div>
	<div>
		<%= yield :layout%>
	</div>
      <div id='footer'>
	<%= link_to 'Logout', {:controller => 'login',:action => 'logout'} %>
	<div>
	<% if session[:user_id] %>
	User :
	<%= User.find(session[:user_id]).user_name %>
	<% end %>
	</div>
	
	
</div>
</body>
</html>
</div>
